.contact {
  margin: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25vh 0;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

.ghost {
  width: 300px;
  border-radius: 50px;
}

.mail {
  width: 75px;
}

.linkedin {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .contact {
    margin: 30vh 5vw;
    display: flex;
  }

  .ghost {
    width: 400px;
    border-radius: 50px;
  }
}
