.developer {
  width: 150px;
  top: 200px;
}

.parallax {
  position: relative;
  display: flex;
  align-items: end;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.parallax img,
.parallax svg {
  pointer-events: none;
  position: absolute;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  -webkit-transition-property: background-position;
  -moz-transition-property: background-position;
  -o-transition-property: background-position;
}

.street-light {
  width: 500px;
  top: -45px;
}

.about-me-text-container {
  position: absolute;
  top: 50%;
  right: 0;
  text-align: right;
  margin-right: 2rem;
}

.about-me-text {
  font-size: 1.5rem;
}

.about-me-title {
  font-size: 2.5rem;
}

.about-me-subtext {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .parallax {
    position: relative;
    display: flex;
    align-items: end;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .about-me-text {
    font-size: 2rem;
  }
  
  .about-me-title {
    font-size: 5rem;
  }

  .developer {
    width: 250px;
    top: auto;
  }

  .street-light {
    width: 800px;
    top: auto;
  }
}